body{
    margin: 0;
    background-color: rgba(215, 231, 248, 0.53);
    font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.content{
    width: 100%;
}
.head{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: fit-content;
    align-items: center;
    background-color: #125599;
    padding-bottom: 12px;
    padding-top: 12px;
}
.logo_block{
    display: flex;
    align-items: center;
}
.logo{
    width: 4.7rem;
    height: 4.7rem;
    margin: 5px 20px 5px 15px;
}

.logo_text{
    font-size: x-large;
    color: #fff;
}

.nav_link{
    font-size: x-large;
    color: #fff;
    text-decoration: none;
    padding-right: 25px;
}

.flash-error {
    padding: 10px;
    border: 1px solid #d9534f;
    border-radius: 4px;
    color: #d9534f;
    background-color: #f2dede;
    width: 30%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

.flash-success {
    padding: 10px;
    border: 1px solid #5cb85c;
    border-radius: 4px;
    color: #5cb85c;
    background-color: #dff0d8;
    width: 30%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}
.flash-info{
    padding: 10px;
    border: 1px solid #b8a15c;
    border-radius: 4px;
    color: #b8a15c;
    background-color: #f0efd8;
    width: 30%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}
