<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
  <link rel="icon" type="image/x-icon" href="../static/img/msx.png">
  <title>{% block title %}Home{% endblock %}</title>
</head>
<div class="content">
  <nav class="head">
    <div class="logo_block">
      {# <img src="../static/img/msx.png" class="logo" alt="МСХ" />#}
      {# <p class="logo_text">Министерство сельского хозяйства РК</p>#}
    </div>
    <div>
      {% if user.is_authenticated %}
      <a class="nav_link" id="portfolio" href="{{ url_for('form') }}">Заполнить форму</a>
      <a class="nav_link" id="portfolio" href="{{ url_for('account') }}">Заявки</a>
      <a class="nav_link" id="portfolio" href="{{ url_for('add_creditors') }}">Добавить заемщиков</a>
      <a class="nav_link" id="portfolio" href="{{ url_for('all_creditors') }}">Заемщики</a>
      <a class="nav_link" id="logout" href="{{ url_for('logout') }}">Выйти</a>
      {% else %}
      <a class="nav_link" id="login" href="{{ url_for('login') }}">Войти</a>
      {% endif %}
    </div>
  </nav>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  {% if category == 'error' %}
  <div class="flash-error">
    <p>{{ messages[0][1] }}</p>
  </div>
  {% elif category == 'success' %}
  <div class="flash-success">
    <p>{{ messages[0][1] }}</p>
    {# <button type="button" class="close" data-dismiss="alert">#}
      {# <span aria-hidden="true">&times;</span>#}
      {# </button>#}
  </div>
  {% elif category == 'info' %}
  <div class="flash-info">
    <p>{{ messages[0][1] }}</p>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endwith %}

  <div class="container">{% block content %} {% endblock %}</div>

  <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</div>

</html>