{% extends "base.html" %} {% block title %}Аналитика{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='credits_dashboard.css') }}" />
<!-- plotly -->
<script src="{{ url_for('static', filename='plotly.js') }}" charset="utf-8"></script>
<!-- ApexCharts -->
<script src="{{ url_for('static', filename='apexcharts.js') }}"></script>
<title>Dashboard credits</title>

<body>

  <!-- Main -->
  <div class="main-title">
    <p style="text-align: center; font-weight: bold;" class="font-weight-bold">Потребность в кредитах</p>
      <div class="nav_dash_links">
          <a class="dash_link" id="portfolio" href="{{ url_for('dashboard_soc1') }}">Социально-экономическое состояние</a>
          <a class="dash_link" id="portfolio" href="{{ url_for('dashboard_plants_obl') }}">Растениеводство</a>
          <a class="dash_link" id="portfolio" href="{{ url_for('dashboard_animals_obl') }}">Животноводство</a>
          <a class="dash_link" id="portfolio" href="{{ url_for('dashboard_business_obl') }}">Бизнес</a>
          <a class="dash_link" id="portfolio" href="{{ url_for('dashboard_recycling_obl') }}">Переработка</a>
        <form method="POST" class="filter_form">
          {{ filterform.hidden_tag() }}
          {{ filterform.kato_2 }}
          {{ filterform.submit }}
        </form>
      </div>

      </div>

<button id="load_btn" class="download-btn">Загрузить показатели аналитики</button>

<div class="grid-container">

      <main class="main-container" id="main">

        <div class="main-cards">

          <div class="card">
            <div class="card-inner">
              <p class="text-primary">Количество заявок</p>
            </div>
            <span class="text-primary font-weight-bold">{{ formData.credit_amount }}</span>
          </div>

          <div class="card">
            <div class="card-inner">
              <p class="text-primary">Общая потребность в кредитах, тенге</p>
            </div>
            <span class="text-primary font-weight-bold">{{ formData.credit_total }}</span>
          </div>

         <div class="card">
            <div class="card-inner">
              <p class="text-primary">Средний чек по кредиту</p>
            </div>
            <span class="text-primary font-weight-bold">{{ formData.credit_average_total }}</span>
          </div>

         <div class="card">
            <div class="card-inner">
              <p class="text-primary">Количество обеспеченных залогом</p>
            </div>
            <span class="text-primary font-weight-bold">{{ formData.credit_zalog }}</span>
          </div>

        </div>

                           <!-- TABLE start -->
          <section class="attendance">
            <div class="attendance-list">
              <h1>Список заемщиков</h1>
              <table class="table">
                <thead>
                  <tr>
                    <th>№</th>
                    <th>ФИО потенциального заемщика</th>
                    <th>ИИН</th>
                    <th>Пол</th>
                    <th>Доход семьи в месяц, тенге</th>
                    <th>Цель кредита</th>
                    <th>Запрашиваемая сумма кредита, тенге</th>
                    <th>Наличие залогового обеспечения</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Әнуарбеков Дархан</td>
                      <td>820621301769</td>
                    <td>мужской</td>
                    <td>250 000</td>
                    <td>мал өсіру</td>
                    <td>5 000 000</td>
                      <td>ия</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Жүнісжанов Әділқазы</td>
                       <td>700821301276</td>
                    <td>мужской</td>
                    <td>350 000</td>
                  <td>мал өсіру</td>
                      <td>8 625 000</td>
                      <td>ия</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Жунусова Шынар</td>
                       <td>800607400402</td>
                    <td>женский</td>
                    <td>400 000</td>
                      <td>мал өсіру</td>
                      <td>8 625 000</td>
                      <td>ия</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
          <!-- TABLE end -->

      </main>
      <!-- End Main -->

    </div>

<!-- jquery -->
<script src="{{ url_for('static', filename='jquery.js') }}" charset="utf-8"></script>
<script src="../static/printThis.js"></script>
<script>
$(document).ready(function(){
    $("#load_btn").click(function(){
        $("#main").printThis();
    });
});
</script>

</body>
{% endblock %}