{% extends "base.html" %} {% block title %}Войти в аккаунт{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
<link rel="icon" type="image/x-icon" href="../static/img/msx.png">
<div class="login-body">

  <div class="content-section">
    <form method="POST" action="" class="form">
      {{ form.hidden_tag() }}
      <div class="form-group">
        <legend class="border-bottom mb-4">Войти</legend><br>
        <div class="form-group">
          {{ form.login.label(class="form-control-label") }}
          {{ form.login(class="form-control form-control-lg") }}
        </div>
          </br>
        <div class="form-group">
          {{ form.password.label(class="form-control-label") }}
          {{ form.password(class="form-control form-control-lg") }}
        </div>
          <br>
        <div class="form-check">
          {{ form.remember(class="form-check-input") }}
          {{ form.remember.label(class="form-check-label") }}
        </div><br>
      </div><br>
      <div class="form-group">
        {{ form.submit(class="btn") }}
      </div><br>
    </form>
  </div>
</div>
{% endblock %}