{% extends "base.html" %} {% block title %}Аналитика{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='recycling_dashboard.css') }}" />
<!-- jquery -->
<script src="{{ url_for('static', filename='jquery.js') }}" charset="utf-8"></script>
<!-- plotly -->
<script src="{{ url_for('static', filename='plotly.js') }}" charset="utf-8"></script>
<!-- ApexCharts -->
<script src="{{ url_for('static', filename='apexcharts.js') }}"></script>
<title>Dashboard business</title>

<body>
  <div class="main-title">
    <p style="text-align: center; font-weight: bold;" class="font-weight-bold">Переработка</p>
      <div class="nav_dash_links">
          <a class="dash_link" id="portfolio" href="{{ url_for('dashboard_soc1') }}">Социально-экономическое состояние</a>
          <a class="dash_link" id="portfolio" href="{{ url_for('dashboard_plants') }}">Растениеводство</a>
          <a class="dash_link" id="portfolio" href="{{ url_for('dashboard_animal') }}">Животноводство</a>
          <a class="dash_link" id="portfolio" href="{{ url_for('dashboard_business') }}">Бизнес</a>
          <a class="dash_link" id="portfolio" href="{{ url_for('dashboard_credits') }}">Кредиты</a>
      </div>

  </div>

<div class="grid-container">
      <!-- Main -->

      <main class="main-container">

        <div class="main-cards">

          <div class="card">
            <div class="card-inner">
              <p class="text-primary">Количество бизнеса по переработке</p>
            </div>
              <span class="text-primary font-weight-bold">{{ formData.manufacture_milk + formData.manufacture_meat + formData.manufacture_vegetables + formData.manufacture_mayo + formData.manufacture_fish + formData.manufacture_choco + formData.manufacture_beer + formData.manufacture_vodka + formData.manufacture_honey + formData.manufacture_polufabricat + formData.manufacture_bread + formData.manufacture_others }}</span>
          </div>

          <div class="card">
            <div class="card-inner">
              <p class="text-primary">Потребность в переработке продукции</p>
            </div>
              <span class="text-primary font-weight-bold">{{ formData.manufacture_milk_needs + formData.manufacture_meat_needs + formData.manufacture_vegetables_needs + formData.manufacture_mayo_needs + formData.manufacture_fish_needs + formData.manufacture_choco_needs + formData.manufacture_beer_needs + formData.manufacture_vodka_needs + formData.manufacture_honey_needs + formData.manufacture_polufabricat_needs + formData.manufacture_bread_needs + formData.manufacture_others_needs }}</span>
          </div>

        </div>

        <div class="charts">
          <!-- apexcharts bar chart -->
          <div class="charts-card">
            <p class="chart-title">Наличие предприятий по переработке продукции</p>
            <div id="stacked_chart"></div>
          </div>

        </div>

                      <!-- TABLE start -->
          <section class="attendance">
            <div class="attendance-list">
              <h1>Список предприятий</h1>
              <table class="table">
                <thead>
                  <tr>
                    <th>№</th>
                    <th>Наименование предприятия</th>
                    <th>Расстояние от села, км</th>
                    <th>Наименование готовой продукции</th>
                    <th>Мощность, тонн/сутки, по готовой продукции</th>
                    <th>Фактическая загрузка, %</th>
                    <th>Наименование сырья - растения либо животные</th>
                    <th>Потребность в сырье, тонн/сутки</th>
                    <th>Цена закупа сырья, тенге за тонну</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>ИП "Бекшойнов"</td>
                      <td>10</td>
                    <td>Молоко</td>
                    <td>44</td>
                    <td>100</td>
                    <td>Корова</td>
                      <td>1</td>
                      <td>988</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>ИП "АйлинСән салоны"</td>
                       <td>10</td>
                    <td>Мясо</td>
                    <td>55</td>
                    <td>100</td>
                  <td>Корова</td>
                      <td>1</td>
                      <td>988</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>ИП "Назымқызы Г"</td>
                       <td>10</td>
                    <td>Мед</td>
                    <td>22</td>
                    <td>100</td>
                      <td>Пчелы</td>
                      <td>20</td>
                      <td>988</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
          <!-- TABLE end -->

      </main>
      <!-- End Main -->

    </div>

<script>
      var options = {
          series: [
          {
              name: 'В наличии',
              data: [{{ formData.manufacture_milk }}, {{ formData.manufacture_meat }}, {{ formData.manufacture_vegetables }}, {{ formData.manufacture_mayo }}, {{ formData.manufacture_fish }}, {{ formData.manufacture_choco }}, {{ formData.manufacture_beer }}, {{ formData.manufacture_vodka }}, {{ formData.manufacture_honey }}, {{ formData.manufacture_polufabricat }}, {{ formData.manufacture_bread }}, {{ formData.manufacture_others }} ]
          },
          {
              name: 'Потребность',
              data: [{{ formData.manufacture_milk_needs }}, {{ formData.manufacture_meat_needs }}, {{ formData.manufacture_vegetables_needs }}, {{ formData.manufacture_mayo_needs }}, {{ formData.manufacture_fish_needs }}, {{ formData.manufacture_choco_needs }}, {{ formData.manufacture_beer_needs }}, {{ formData.manufacture_vodka_needs }}, {{ formData.manufacture_honey_needs }}, {{ formData.manufacture_polufabricat_needs }}, {{ formData.manufacture_bread_needs }}, {{ formData.manufacture_others_needs }}]
          }],
          chart: {
          type: 'bar',
          height: 550,
          stacked: true,
          toolbar: {
            show: false
          },
          zoom: {
            enabled: true
          }
        },
        responsive: [{
          breakpoint: 480,
        }],
        colors: ['#367952', '#e78719'],
        plotOptions: {
          bar: {
            horizontal: false,
            borderRadius: 4,
            columnWidth: '78%',
            dataLabels: {
              total: {
                enabled: true,
                style: {
                  fontSize: '13px',
                  fontWeight: 900
                }
              }
            }
          },
        },
        xaxis: {
           {#title: {#}
           {#   text: 'Наличие предприятий',#}
           {# },#}
          categories: ['Переработка молока', 'Переработка мяса', 'Переработка плодов', 'Производство майонеза', 'Переработка рыбы', 'Производство кондитерских изделий', 'Производство пива и др. напитков', 'Производство ликеро-водочных изделий', 'Продукция из меда', 'Производство полуфабрикатов', 'Производство хлебобулочных изделий', 'Прочее'],
        },
          yaxis: {
            tickAmount: 2,
            min: 0,
            max: 2,
        },
          legend: {
            show: true,
             position: 'top',
              offsetX: -1000,
              offsetY: 0
          },
        fill: {
          opacity: 1
        }
        };

        var stacked_chart = new ApexCharts(document.querySelector("#stacked_chart"), options);
        stacked_chart.render();
</script>
</body>
{% endblock %}